<!doctype HTML>
<html>
<head>
    <title>Speed Dial 2018.3 Vue</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body background="img/bg/bg.jpg">

    <div id="navbar" class="navbar navbar-static navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container" >
                <a class="brand" @click="goRoot"><i class="icon-home icon-white"></i></a>
            </div>
        </div>
    </div>


    <div class="container">
        <ul class="breadcrumb" id="bread">
            <li v-for="crumb in bread">
                <span v-if="crumb.active">
                    <a @click="goTo(crumb.ref)">
                        {{ crumb.name }}
                    </a>
                    <span class="divider">
                        <i class="icon-chevron-right"></i>
                    </span>
                </span>
                <span v-else>
                    {{ crumb.name }}
                </span>
            </li>
        </ul>
        <ul id="dial" class="thumbnails">
            <li v-for="link in current.links" class="span3">
                <a class="thumbnail" v-if="link.href" v-bind:href="link.href" target="_blank">
                    <br>
                    <img class="linkImage" v-bind:src="'img/pic/' + link.pic">
                    <i class="icon-share-alt"></i>
                    {{ link.name }}
                </a>
                <a class="thumbnail" v-else @click="goTo(link.ref)">
                    <br>
                    <img class="linkImage" v-bind:src="'img/pic/' + link.pic">
                    <i class="icon-th"></i>
                    {{ link.name }}
                </a>
            </li>
        </ul>
    </div>

    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/links.js"></script>
    <script type="text/javascript" src="js/dial.js"></script>

</body>

</html>